### ASSIGNMENT 3

#### Name: Ankita Santosh Jagtap
#### Roll No: 2317048
#### Class: TY-AIDS(A)
#### Batch: C

#### Problem Statement: Develop a sentiment analysis model to analyze customer reviews of products or services.

In [275]:
import pandas as pd
import numpy as np
import re
import nltk

from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [276]:
df=pd.read_csv("IMDB Dataset.csv")

In [277]:
df

,review,sentiment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,One of the other reviewers has mentioned that ...,positive,NaN,NaN,NaN,NaN,NaN,NaN
1,A wonderful little production. <br /><br />The...,positive,NaN,NaN,NaN,NaN,NaN,NaN
2,I thought this was a wonderful way to spend ti...,positive,NaN,NaN,NaN,NaN,NaN,NaN
3,Basically there's a family where a little boy ...,negative,NaN,NaN,NaN,NaN,NaN,NaN
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49995,I thought this movie did a down right good job...,positive,NaN,NaN,NaN,NaN,NaN,NaN
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,NaN,NaN,NaN,NaN,NaN,NaN
49997,I am a Catholic taught in parochial elementary...,negative,NaN,NaN,NaN,NaN,NaN,NaN
49998,I'm going to have to disagree with the previou...,negative,NaN,NaN,NaN,NaN,NaN,NaN
49999,No one expects the Star Trek movies to be high...,negative,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
df.columns

Index(['review', 'sentiment', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [279]:
df.isnull()

,review,sentiment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,False,False,True,True,True,True,True,True
1,False,False,True,True,True,True,True,True
2,False,False,True,True,True,True,True,True
3,False,False,True,True,True,True,True,True
4,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
49995,False,False,True,True,True,True,True,True
49996,False,False,True,True,True,True,True,True
49997,False,False,True,True,True,True,True,True
49998,False,False,True,True,True,True,True,True
49999,False,False,True,True,True,True,True,True

In [280]:
df.isnull().sum()

review            0
sentiment         0
Unnamed: 2    49955
Unnamed: 3    49986
Unnamed: 4    49997
Unnamed: 5    49999
Unnamed: 6    49999
Unnamed: 7    49999
dtype: int64

In [281]:
df.dropna(axis=1, how='any', inplace=True)

In [282]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [283]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [284]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [285]:
df['sentiment'].isnull().sum()

0

In [286]:
df['sentiment'] = df['sentiment'].str.strip().str.lower()

In [287]:
df['sentiment'] = df['sentiment'].map({
    'positive': 1,
    'negative': 0
})

In [288]:
df = df.dropna(subset=['sentiment'])

In [289]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower()
    text = re.sub(r'<.*?>', '', text)      # remove HTML tags
    text = re.sub(r'[^a-z\s]', '', text)   # remove punctuation
    words = text.split()
    words = [w for w in words if w not in stop_words]
    return " ".join(words)

df['clean_review'] = df['review'].apply(clean_text)

[nltk_data] Downloading package stopwords to /home/admin1/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/tmp/ipykernel_5515/1286354685.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_review'] = df['review'].apply(clean_text)

In [290]:
x = df['clean_review']
y = df['sentiment']

In [291]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [292]:
x

0        one reviewers mentioned watching oz episode yo...
1        wonderful little production filming technique ...
2        thought wonderful way spend time hot summer we...
3        basically theres family little boy jake thinks...
4        petter matteis love time money visually stunni...
                               ...
49995    thought movie right good job wasnt creative or...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    catholic taught parochial elementary schools n...
49998    im going disagree previous comment side maltin...
49999    one expects star trek movies high art fans exp...
Name: clean_review, Length: 49955, dtype: object

In [293]:
y

0        1.0
1        1.0
2        1.0
3        0.0
4        1.0
        ...
49995    1.0
49996    0.0
49997    0.0
49998    0.0
49999    0.0
Name: sentiment, Length: 49955, dtype: float64

In [294]:
vectorizer = TfidfVectorizer(max_features=5000)
x_train_vec = vectorizer.fit_transform(x_train)
x_test_vec = vectorizer.transform(x_test)

In [301]:
model = LogisticRegression()
model.fit(x_train_vec, y_train)

LogisticRegression()

In [303]:
y_pred = model.predict(x_test_vec)

In [305]:
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8880992893604244

In [307]:
print(confusion_matrix(y_test, y_pred))

[[4337  617]
 [ 501 4536]]

In [309]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.90      0.88      0.89      4954
         1.0       0.88      0.90      0.89      5037

    accuracy                           0.89      9991
   macro avg       0.89      0.89      0.89      9991
weighted avg       0.89      0.89      0.89      9991